<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="txtServer1.Text" value="svetac\ksql" />
		<add key="txtServer2.Text" value="svetac\ksql" />
		<add key="txtDB1.Text" value="D516" />
		<add key="txtDB2.Text" value="D999" />
		<add key="chkSSPI1.Checked" value="True" />
		<add key="chkSSPI2.Checked" value="True" />
		<add key="txtUN1.Text" value="sa" />
		<add key="txtUN2.Text" value="sa" />
		<add key="txtP1.Text" value="ok0ubS144" />
		<add key="txtP2.Text" value="ok0ubS144" />		
		<add key="chkBoxStoreProcedure.Checked" value="False" />
		<add key="chkBoxFunction.Checked" value="True" />
		<add key="chkBoxTriggers.Checked" value="False" />
		<add key="chkBoxView.Checked" value="False" />
		<add key="chkBoxTable.Checked" value="False" />
		<add key="chkBoxEnc.Checked" value="False" />
	</appSettings>
</configuration>